body {
	background-color: #ffffe5;
}

h1 {
		font-size: 40px;
		font-family: 'Lobster';
		color: #00004d;
		background-color: #ffff66;
	}

p  {
		font-size: 16px;
		color:#00004d;
	}

.image {
	max-height: 281px;
	max-width: 500px;
}